In [3]:
import yfinance as yf
import pandas as pd
import scipy
from get_all_tickers import get_tickers as gt
from get_all_tickers.get_tickers import Region

In [1]:
import requests
import pandas as pd

headers = {
    'authority': 'api.nasdaq.com',
    'accept': 'application/json, text/plain, */*',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36',
    'origin': 'https://www.nasdaq.com',
    'sec-fetch-site': 'same-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.nasdaq.com/',
    'accept-language': 'en-US,en;q=0.9',
}

params = (
    ('tableonly', 'true'),
    ('limit', '25'),
    ('offset', '0'),
    ('download', 'true'),
)

resp = requests.get('https://api.nasdaq.com/api/screener/stocks', headers=headers, params=params)
data = resp.json()

In [7]:
stocks = data['data']['rows']

In [15]:
ticker = yf.Ticker(stocks[4]['symbol'])

In [16]:
ticker.quarterly_income_stmt.transpose()

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,EBITDA,EBIT,Net Interest Income,Interest Income,Normalized Income,Net Income From Continuing And Discontinued Operation,...,Net Non Operating Interest Income Expense,Interest Income Non Operating,Operating Income,Operating Expense,Other Operating Expenses,Selling General And Administration,General And Administrative Expense,Salaries And Wages,Total Revenue,Operating Revenue
2023-06-30,0.0,0.4,-910274.0,-559584.0,-910274.0,-910274.0,433066.0,433066.0,-559584.0,-559584.0,...,433066.0,433066.0,-910274.0,910274.0,775911.0,134363.0,134363.0,134363.0,0.0,0.0
2023-03-31,0.0,0.4,-818698.0,-27143.0,-818698.0,-818698.0,974408.0,974408.0,-27143.0,-27143.0,...,974408.0,974408.0,-818698.0,818698.0,790735.0,27963.0,27963.0,27963.0,0.0,0.0
2022-12-31,0.0,0.3001,-422315.0,607027.0,-422315.0,-422315.0,1289673.0,1289673.0,607027.0,607027.0,...,1289673.0,1289673.0,-422315.0,422315.0,394352.0,27963.0,27963.0,27963.0,0.0,0.0
2022-09-30,0.0,0.4,-529434.0,122785.0,-529434.0,-529434.0,797840.0,797840.0,122785.0,122785.0,...,797840.0,797840.0,-529434.0,529434.0,501471.0,27963.0,27963.0,27963.0,0.0,0.0